@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Sue+Ellen+Francisco&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(125, 125, 125);
}

html{
    font-family: 'Noto Serif', serif;
    font-weight: 300;
    overflow-x: hidden;
}


.encabezado{
    position: relative;
    display: grid;
    height: 85px;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    padding: 0% 1%;
    background: #27272a;
    -youbkit-touch-callout: none;
    -youbkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 2.5px rgb(210, 59, 94) solid;
}

.logo_encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_logo{
    width: 45px;
    height: 45px;
}

.logo_encabezado span{
    font-family: 'Fredericka the Great', cursive;
    font-size: xx-large;
    color: white;
}

.navbar_encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}

.links{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    list-style-type: none;
    transition: color 0.9s ease;
}

.links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    text-decoration: none;
    font-size: x-large;
    transition: background-color 0.7s ease;
}

.links a:link{
    color: #a3354eff;
}

.links a:visited{
    color: #a3354eff;
}

.links a:hover{
    /* padding: 4%; */
    background-color: #f1efef;
    color: black;
}

.links a:active{
    color: rgb(255, 113, 146);
}

.nexos_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul_nexos_header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ul_nexos_header li{
    display: flex;
    width: 90px;
    height: 37px;
    border: 1px white solid;
    border-radius: 5px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    transition: border 1.5s ease;
}

.ul_nexos_header li:hover{
    border: 1px rgb(251, 166, 186) solid;
}

.li_nexos a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: color 1.5s ease;
    text-decoration-line: none;
}
.li_nexos a:link{
    color: white;
}

.li_nexos a:visited{
    color: white;
}

.li_nexos a:hover{
    color: rgb(255, 113, 146);
}

.li_nexos a:active{
    color: rgb(255, 113, 146);
}
