.container_general_profile{
    display: flex;
    align-items: center;
}

.container_index_occupations{
    display: flex;
    width: 95%;
    height: 95%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_general_occupations{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.container_content_occupations{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.container_header_occupations{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.ul_header_occupation{
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.ul_header_occupation li{
    display: flex;
    width: 100%;
    height: 100%;
    background: #d6d8db;
    align-items: center;
    justify-content: center;
}

.container_data_occupations{
    display: flex;
    width: 100%;
    min-height: 90%;
    max-height: 95%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 9px;
}

.ul_data_occupation{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.ul_data_occupation li{
    display: flex;
    height: 90%;
    background: #e6e7e9;
    align-items: center;
    justify-content: center;
}

.edit_icon_general{
    width: 35px;
    height: 35px;
    background-color: #d15d79;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.edit_icon_general img{
    width: 100%;
    height: 100%;
}

.edit_icon_general:hover{
    background-color: #ffffff;
}

.show_icon_general{
    width: 35px;
    height: 35px;
    background-color: none;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.show_icon_general img{
    width: 100%;
    height: 100%;
}

.show_icon_general:hover{
    background-color: #973245;
}

.form_delete_icon{
    width: 35px;
    height: 35px;
}

.form_delete_icon button{
    width: 100%;
    height: 100%;
    background: none;
    border:0.5px #a3354eff solid;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    transition: background-color 0.7s ease;
}

.form_delete_icon button img{
    width: 100%;
    height: 100%;
}

.form_delete_icon button:hover{
    background-color: rgb(166, 104, 118);
}


