.contenido{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 25px
}

.container_login{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px;
    gap: 15px;
}

.name_login{
    font-size: x-large;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.container_form_login{
    width: 100%;
}

.form_login{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px #e3e3e3 solid;
    gap: 0;
    background: #f1f1f1;
}

.form_login div label{
    font-size: large;
}

.form_login div input{
    height: 34px;
}

.input_login{
    font-weight: 600;
    background: #cac8c8;
    color: #27272a;
    transition: color 1.5s ease;
    -webkit-transition: background 2.5s ease;
}

.input_login:visited{
    color: rgb(163, 70, 91);
}

.input_login:hover{
    background: #27272a;
    border: 0.5px #f1efef solid;
    color: #f1efef;;
}

.input_login:active{
    color: rgb(255, 113, 146);
}

.bx{
    font-size: 25px;
    transform: translateY(-28px) translateX(90%);
    cursor: pointer;
}

.restore-password{
    display: flex;
    align-items: flex-end;
    margin-top: 7px;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding: 0 15%;
}

.separator hr {
    flex-grow: 1;
    border-top: 1px solid #ccc;
}

.separator span {
    font-size: 15px;
    color: #8b8b8b;
}

.container_register{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px #e3e3e3 solid;
    gap: 25px;
    background: #f1f1f1;
}

.sign_up{
    display: flex;
    gap: 5px;
    font-size: 13.5px;
    flex-direction: row;
}

.sign_up li{
    display: flex;
    list-style-type: none;
}

.sign_up li a{
    text-decoration-line: none;
}

.sign_up li a:link{
    color: #8f2d2d;
}

.sign_up li a:visited{
    color: #8f2d2d;
}

.sign_up li a:hover{
    color: #8f2d2d;
}

.sign_up li a:active{
    color: rgb(255, 113, 146);
}
